.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(252, 250, 250, .9);
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.preloader .preloader-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.preloader #spinningSquaresG {
  position: relative;
  width: 228px;
  height: 28px;
  margin: auto
}

.preloader .spinningSquaresG {
  position: absolute;
  top: 0;
  background-color: #92c01f;
  width: 16px;
  height: 16px;
  -webkit-animation-name: bounce_spinningSquaresG;
  animation-name: bounce_spinningSquaresG;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: normal;
  -ms-transform: scale(.3);
  transform: scale(.3);
  border-radius: 3.02824px
}

.preloader #spinningSquaresG_1 {
  left: 0;
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

.preloader #spinningSquaresG_2 {
  left: 28px;
  -webkit-animation-delay: .75s;
  animation-delay: .75s
}

.preloader #spinningSquaresG_3 {
  left: 57px;
  -webkit-animation-delay: .9s;
  animation-delay: .9s
}

.preloader #spinningSquaresG_4 {
  left: 85px;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s
}

.preloader #spinningSquaresG_5 {
  left: 114px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s
}

.preloader #spinningSquaresG_6 {
  left: 142px;
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s
}

.preloader #spinningSquaresG_7 {
  left: 171px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s
}

.preloader #spinningSquaresG_8 {
  left: 199px;
  -webkit-animation-delay: 1.64s;
  animation-delay: 1.64s
}

@-webkit-keyframes bounce_spinningSquaresG {
  0% {
    transform: scale(1);
    background-color: #92c01f
  }

  100% {
    transform: scale(0) rotate(90deg);
    background-color: #92c01f
  }
}

@keyframes bounce_spinningSquaresG {
  0% {
    transform: scale(1);
    background-color: #92c01f
  }

  100% {
    transform: scale(0) rotate(90deg);
    background-color: #92c01f
  }
}